
html {
  font-size: 10px;
  height: 100%;
}

body {
  padding: 0;
  margin: 4rem .5rem 0 .5rem;
  min-height: 100%;
}

article {
}

aside {
}

button {
  display: inline-block;
  line-height: calc(100%);
  min-width: 7rem;
  margin: .25rem;
  padding: .25rem;
  border-radius: 4px;
}

footer {
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 2rem;
}

form {
  display: table;
  padding: .5rem 1rem;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  margin: 0;
}

header {
  height: 4rem;
  line-height: 4rem;
  padding: 0 .5rem;
}

input {
  float: right;
  width: 10rem;
  height: 1rem;
  line-height: 1rem;
  margin: .25rem .25rem;
  border-radius: 2px;
  background-color: #bbbbbb;
}

label {
  float: left;
}

nav {
  height: 2rem;
  padding: 0 .5rem;
  vertical-align: middle;
}

p {
}

section {
}

select {
  float: right;
  width: 10rem;
  height: 1.5rem;
  margin: .25rem .25rem;
  border-radius: 2px;
  background-color: #bbbbbb;
}

@keyframes slide_in {
  from {width: 82.5%;}
  to {width: 100%;}
}  

@keyframes slide_out {
  from {width: 100%;}
  to {width: 82.5%;}
}

body > nav {
  position: fixed;
  z-index: 9;
  height: 2rem;
  width: calc(100% - 2rem);
  top: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background-color: antiquewhite;
  box-shadow: 0px 2px;
}

nav > ul > li {
  display: inline-block;
  height: 2rem;
  min-width: 4rem;
  line-height: 2rem;
  text-align: center;
  padding: 0px .5rem;
  margin: 0px .25rem;
  border: none;
  background-color: bisque;
}

nav > ul > li:hover {
  background-color: #dfdfdf;
}

button:last-child {
  margin-top: 2rem;
}

.afk_site_header {
  position: fixed;
  width: calc(100% - 2rem);
  height: 2rem;
  line-height: 2rem;
  z-index: 9;
  top: 0;
  margin: 0;
  padding: 0 .5rem;
  background-color: darkolivegreen;
}

.afk_site_header > aside > h1 {
  color: coral;
}

.afk_site_header > aside > h5 {
  color: antiquewhite;
}

.afk_site_footer {
  position: fixed;
  z-index: 9;
  float: left;
  height: 1.2rem;
  line-height: 1.2rem;
  width: calc(100% - 5rem);
  padding: 0 2rem;
  left: .5rem;
  bottom: 0;
  background-color: #472f17;
}

.afk_site_footer > h4 {
  float: right;
  color: burlywood;
}

.afk_nav_main {
  margin: 0;
  padding: 0;
}

.afk_card {
  border-radius: 12px;
  border: 1px solid azure;
  padding: .25rem .5rem;
  margin: 1rem 3rem;
  box-shadow: 3px 5px;
  background-color: #ffefcf;
  opacity: .75;
  text-align: center;
}

.afk_card_header {
  position: relative;
  margin: 1rem 0 .25rem 0;
}

.afk_card_header > h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.afk_card_header > h5 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.afk_card_nav {
  position: relative;
  margin: 0;
  padding: 0;
}

.afk_card_nav > ul {
  margin: .25rem;
  padding: 0;
}

.afk_card_nav > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
  position: relative;
}

.afk_card_content {
  margin: .25rem;
  padding: 1rem 0;
  border-top: 3px solid #aaaacc;
  border-bottom: 3px solid #aaaacc;
}

.afk_field {
  width: 14rem;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: .25rem .25rem;
  padding: .25rem;
  background-color: #cccccc;
  border-radius: 4px;
}

.afk_container {
  width: 100%;
  padding: 0;
}

.afk_sidebar {
  position: absolute;
  top: 4rem;
  left: .5rem;
  width: 17.5%;
  z-index: -1;
  margin: 0;
  padding: 0;
  background-color: #c7d0d7
}

.afk_contents {
  float: right;
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: #dfdfff;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.icono-hamburger {
  color: dimgrey;
  margin: 0px .5rem;
  transform: scale(0.5);
}

#afk_mnu_hamburger{
  float: right;
}

.icono-tiles {
  color: dimgrey;
  margin: 0px .5rem;
  transform: scale(0.5);
}

#afk_tileset_mnu_tiles {
  float: left;
}

.icono-caretDownSquare {
  color: dimgrey;
}

.icono-caretDown {
  height: 1.2rem;
  color: dimgrey;
}

.icono-caretUpSquare {
  color: dimgrey;
}

.icono-caretUp {
  height: 1.2rem;
  color: dimgrey;
}

.form_toggle {
  visibility: hidden;
}

.form_closed {
  position: absolute;
  right: .25rem;
  visibility: hidden;
}

.form_openned {
  position: absolute;
  right: .25rem;
  visibility: visible;
}

.afk_pane {
  position: fixed;
  display: inline-block;
  border-radius: 12px;
  border: 1px solid azure;
  padding: .25rem .5rem;
  margin: 1rem 1rem;
  box-shadow: 3px 5px;
  background-color: #d3dcd3;
  opacity: .950;
  text-align: center;
  width: 25%;
  z-index: 99;
}

.cell {
  display: inline-block;
  border-radius: 2px;
  padding: 1px 1px;
  margin: 2px 1px;
  background-color: #f0e0c0;
  opacity: .75;
  text-align: center;
  min-width: 4rem;
  width: 4rem;
  min-height: 4rem;
  height: 4rem;
}

.afk_status_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  float: right;
  height: 1.2rem;
  line-height: 1.2rem;
  width: calc(100%);
  padding: 0 2rem;
  opacity: .60;
  background-color: #a06738;
}

.afk_paperpad {
  position: relative;
  display: inline-block;
  float: right;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: #dfdfff;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

#afk_tiles {
  float: left;
}

#afk_tileset_pane {
  padding: .25rem 0rem .25rem .5rem;
  width: 21rem;
}

#afk_tileset_pane_header {
  height: 3rem;
  line-height: 3rem;
}

#afk_tileset_pane aside {
  float: right;
}

#afk_tileset_nav_panel {
  display: block;
  width: 3em;
  height: 10rem;
  margin: 0rem;
  padding: 3.6rem .25rem;
}

.icono-caretLeft {
  color: black;
  margin: 0 .25rem;
}

.icono-caretRight {
  color: black;
  margin: 0 .25rem;
}

.afk_tileset_nav {
  padding: 1rem .25rem;
  width: 2rem;
  background-color: azure;
  margin: 2rem 0rem;
  opacity: .40;
}

.afk_tileset_nav:hover {
  opacity: .80;
}

#afk_tileset_pad {
  border-top: 2px groove azure;
  border-bottom: 2px groove azure;
  padding: .5em 0.25em;
  margin: .5em 0em;
  height: 20rem;
}

#afk_tileset_pagemark {
  padding: .25rem .25rem;
  width: 2rem;
  margin: 2rem 1rem 2rem 0rem;
  font-size: 1.4rem;
  opacity: .45;
}
